/* detail section */
.recommended_main{
    display: flex;
    align-items: center;
    width: 55rem;
    margin: 0 auto;
    justify-content: space-between;
    border-bottom: 1px solid rgba(176, 171, 171, 0.442);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;

}

.recommended_right_section img{
    width: 180px;
    height: 180px;
    object-fit: cover;

}

.item_name{
    font-size: 21px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    color: rgba(0, 0, 0, 0.736);
}

.item_price{
    font-family: 'Roboto', 'sans-serif';
    margin-top: 0.3rem;
    margin-bottom: 1.2rem;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.686);
}

.item_description{
    font-family: 'Poppins', 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    color: rgb(129, 127, 127);
    
}