.filter__main {
    padding-top: 2rem;
    padding-left: 3rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(78, 76, 76, 0.098);
}

.food_detail h2 {
    font-weight: 800;
    color: rgba(0, 0, 0, 0.851);
}

.food_detail p {
    font-weight: 200;
    color: rgb(50, 48, 48);
}

.filters {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.search{
    padding-right: 3rem;
}

.search input{
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 50px;
    outline: none;
    border: 1px solid lightgray;
}

.filters button {
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: 1px solid gray;
    outline: none;
    font-size: 15px;
    background-color: white;
    color: rgb(73, 68, 68);
    cursor: pointer;
    background-color: #d3d3d331;
}

.filter_applied{
    border: 1px solid green !important;
    background-color: white !important;
    color: rgb(1, 30, 1) !important;
}


.filter_icon {
    width: 15px;
    margin-left: 0.5rem;
}

.filter__btn p,
.sort__btn p {
    font-family: 'Mooli', 'sans-serif';
    font-size: 16px;
    display: flex;
    align-items: center;

}

.sort__btn {
    margin-left: 1rem;
}


/* modal */

.modal__main {
    display: flex;
    flex-direction: column;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 3px 2px #f3f3f3;
    padding: 0.8rem 0.8rem;
    background-color: rgba(211, 211, 211, 0.326);
}

.modal__header .title {
    font-size: 20px;
    font-family: 'Mooli';
}

.close__modal {
    width: 22px;
    cursor: pointer;
}

.modal__body {
    display: flex;
}

/* filter types */

.filter__list__type {
    padding-top: 1rem;
    width: 27%;
    border-right: 1px solid lightgray;
    padding-bottom: 2rem;
}

.filter__list__type>button {
    font-family: 'Poppins', 'sans-serif';
    margin-top: 1.2rem;
    width: 100%;
    background-color: white;
    border: none;
    padding: 0.3rem 1rem;
    cursor: pointer;
    text-align: left;
    font-size: 16px;


}

.filter__list__type .active {
    border-left: 1px solid orangered;
    border-width: 5px;
    border-radius: 10px;
}