.header__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 6px 1px #f3f3f3;
    padding: 0.8rem;
    
}

.header__left{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo img {
    width: 5rem;
}

.location h3{
    margin-left: 2rem;
}


.header__right ul{
    display: flex;
    margin-right: 3rem;
}

.header__right ul > li{
    margin-left: 1.5rem;    
    
    list-style-type: none;
}